/* Set the size of the div element that contains the map */
.map {
  height: 400px;  /* The height is 400 pixels */
  width: 75%;  /* The width is the width of the web page */
  padding: 10px;
  margin: 0;
 }

 html, body {height: 100%; margin: 0; padding: 0;}

 h3 {
  font-family: 'Questrial', sans-serif;
  font-size: 42px;
  padding: 5px;
 }
